@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Monoton&display=swap');

@layer components {
  .font-lora {
    font-family: 'Lora', serif;
  }
  
  .font-lora-regular {
    font-family: 'Lora', serif;
    font-weight: 400;
  }
  
  .font-lora-medium {
    font-family: 'Lora', serif;
    font-weight: 500;
  }
  
  .font-lora-semibold {
    font-family: 'Lora', serif;
    font-weight: 600;
  }
  
  .font-lora-bold {
    font-family: 'Lora', serif;
    font-weight: 700;
  }
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .animate-blink {
    animation: blink 1s step-end infinite;
  }

  @layer utilities {
    .text-outline-sm {
      -webkit-text-stroke: 1px black;
      -webkit-text-stroke: 1px black;
    }
  
    .text-outline-md {
      -webkit-text-stroke: 1.5px black;
      -webkit-text-stroke: 1.5px black;
    }
  
    .text-outline-lg {
      -webkit-text-stroke: 2px black;
      -webkit-text-stroke: 2px black;
    }
  
    .text-outline-xl {
      -webkit-text-stroke: 2.5px black;
      -webkit-text-stroke: 2.5px black;
    }
  
    .text-outline-2xl {
      -webkit-text-stroke: 3px black;
      -webkit-text-stroke: 3px black;
    }
  }

  @keyframes fade {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
  }
  
  .animate-fade {
    animation: fade 2s ease-in-out infinite;
  }